@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-custom-gradient {
    background-color: #25282b;
    background-image: radial-gradient(
        circle at 10% 95%,
        #4b2932 15%,
        transparent 50%
      ),
      radial-gradient(circle at 90% 95%, #352a4b 15%, transparent 50%);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .body-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "nav header" "nav main";
  }

  .header-grid {
    grid-area: header;
  }
  .nav-grid {
    grid-area: nav;
  }

  .main-grid {
    grid-area: main;
  }

  .side-heading {
    font-size: 1.875rem ;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    color: white;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
